<%- include("../shared/_header") %>

    <div class="container mt-5">
        <h1>
            Update Hospital
        </h1>

        <hr class="my-5">

        <%- include("./_form") %>

            <a href="/hospitals" class="back-link">Back to hospitals</a>
    </div>

<%- include("../shared/_footer") %>