<%- include("../shared/_header")%>

<div class="container-fluid py-5" style="background-color: #f0f0f0;">
    <div class="container height-80 d-flex justify-content-center align-items-center">
        <div class="text-center mb-5">
            <h1 class="display-2 fw-bold mb-5">Welcome to MediConnect!</h1>
            <p class="intro mb-4">This is a platform that connects patients with medical services and professionals, emphasizing the
                accessibility and convenience of accessing hospital and doctor information. </p>
            <p class="description">We want to connect patients with the right medical resources they need.</p>
        </div>
    </div>
</div>
<%- include("../shared/_footer")%>
